<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 映射类的文件路径 -->
<mapper namespace="com.songtian.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.songtian.entity.User">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="pwd" jdbcType="VARCHAR" property="pwd" />
    <result column="sex" jdbcType="INTEGER" property="sex" />
    <result column="phone" jdbcType="INTEGER" property="phone" />
  </resultMap>
  <select id="selectByName" parameterType="String" resultMap="BaseResultMap">
   select * from user where name= #{name}
  </select>
</mapper>