* {
    margin: 0;
    padding: 0;
}

ul {
    /* 将列表的默认标点去掉 */
    list-style: none;
}

/* 内容溢出剪修 */

.over-hid {
    overflow: hidden;
}

.mean-text {
    display: none;
    position: absolute;
}

.p-re {
    position: relative;
}

.h-menu-t {
    display: block;
    padding: 10px 20px;
    position: relative;
    box-sizing: border-box;
}

/* 根宽度 */

.w-width {
    width: 1300px;
}

.auto-m {
    margin: 0 auto;
}

.block {
    display: block;
    overflow: hidden;
}

a {
    color: #252525;
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    color: #252525;
    text-decoration: underline;
    text-decoration: none;
}

a:active {
    color: #252525;
}

main{
    margin-top: 50px;
}